{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Web Site - Estacionamento</title>
</head>
<body>
    <div class="container">
        <div class="row d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h1>Estacionamento 24 horas</h1>
                <span>Slogan da sua empresa aqui</span>
            </div>
            <div class="p-2 bd-highlight">

            </div>
            <div class="ml-auto p-2 bd-highlight">
                <img src="{% static 'imagens/logo.png' %}" alt="Estacionamento 24 horas">
            </div>
        </div>
        {% include 'website/menu.html' %}
        {% block main %}
        {% endblock %}

        {% include 'website/footer.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(".nav .nav-link").on("click", function(){
            $(".nav").find(".active").removeClass("active");
            $(this).addClass("active");
         });
         const handlePhone = (event) => {
            let input = event.target;
            input.value = phoneMask(input.value);
          };
          
          const phoneMask = (value) => {
            if (!value) return "";
            value = value.replace(/\D/g,'');
            value = value.replace(/(\d{2})(\d)/,"($1) $2");
            value = value.replace(/(\d)(\d{4})$/,"$1-$2");
            return value;
          }
    </script>
</body>
</html>