<div class="row row-space">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'website_sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_servicos' %}">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_contato' %}">Contato</a>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <p class="footer-website">Copyright - Todos os direitos reservados | Desenvolvido por Fulano de tal</p>
    </div>
    <div class="col-3">

    </div>
</div>