{% extends 'website/base.html' %}
{% load static %}

{% block header %}
<div class="row">
    <div class="col-6">
        <h1>Estacionamento 24 horas</h1>
        <span>Slogan da sua empresa aqui</span>
    </div>
    <div class="col-6">
        <img src="{% static 'imagens/logo.png' %}" alt="Estacionamento 24 horas">
    </div>
</div>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-6">
        Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, 
        nisi eros vermeio. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh 
        non tellus tristique interdum. Quem manda na minha terra sou euzis! 
        Cevadis im ampola pa arma uma pindureta.
    </div>
    <div class="col-6">
        Paisis, filhis, espiritis santis. Sapien in monti palavris qui num 
        significa nadis i pareci latim. Copo furadis é disculpa de bebadis, 
        arcu quam euismod magna. Tá deprimidis, eu conheço uma cachacis que 
        pode alegrar sua vidis.
    </div>
</div>
<div class="row">
    <div class="col-4">
        Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, 
        nisi eros vermeio. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh 
        non tellus tristique interdum. Quem manda na minha terra sou euzis! 
        Cevadis im ampola pa arma uma pindureta.
    </div>
    <div class="col-4">
        <img src="{% static 'imagens/estacionamento1.jpg' %}" alt="Foto de estacionamento">
    </div>
    <div class="col-4">
        Paisis, filhis, espiritis santis. Sapien in monti palavris qui num 
        significa nadis i pareci latim. Copo furadis é disculpa de bebadis, 
        arcu quam euismod magna. Tá deprimidis, eu conheço uma cachacis que 
        pode alegrar sua vidis.
    </div>
</div>
<div class="row">
    <div class="col-6">
        Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, 
        nisi eros vermeio. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh 
        non tellus tristique interdum. Quem manda na minha terra sou euzis! 
        Cevadis im ampola pa arma uma pindureta.
    </div>
    <div class="col-6">
        Paisis, filhis, espiritis santis. Sapien in monti palavris qui num 
        significa nadis i pareci latim. Copo furadis é disculpa de bebadis, 
        arcu quam euismod magna. Tá deprimidis, eu conheço uma cachacis que 
        pode alegrar sua vidis.
    </div>
</div>
{% endblock %}