{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<div class="row row-space">
    <div class="col-12">
        {% if mensagem == '' %}
            
        {% else %}
            <div class="alert alert-success">
                {{ mensagem }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row row-space">
    <div class="col-8">
        <h2> Plano Básico</h2>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! 
            Aenean aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis? Toma um mé que 
            o mundo vai girarzis! Quem num gosta di mé, boa gentis num é.
        </p>
        <p>
            Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. 
            Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Leite de capivaris, leite 
            de mula manquis sem cabeça. Atirei o pau no gatis, per gatis num morreus.
        </p>
        <p>
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
            Suco de cevadiss deixa as pessoas mais interessantis. Tá deprimidis, eu conheço uma cachacis 
            que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. 
            Aenean sit amet nisi.
        </p>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'imagens/estacionamento1.jpg' %}" class="img-thumbnail" alt="Foto de estacionamento">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="planoBasico" value="planoBasico">
            <button type="submit" class="btn btn-primary mt-2">Contratar</button>
        </form>
    </div>
</div>
<div class="row row-space">
    <div class="col-8">
        <h2>Plano Pró</h2>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! 
            Aenean aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis? Toma um mé que 
            o mundo vai girarzis! Quem num gosta di mé, boa gentis num é.
        </p>
        <p>
            Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. 
            Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Leite de capivaris, leite 
            de mula manquis sem cabeça. Atirei o pau no gatis, per gatis num morreus.
        </p>
        <p>
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
            Suco de cevadiss deixa as pessoas mais interessantis. Tá deprimidis, eu conheço uma cachacis 
            que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. 
            Aenean sit amet nisi.
        </p>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'imagens/estacionamento1.jpg' %}" class="img-thumbnail" alt="Foto de estacionamento">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="planoPro" value="planoPro">
            <button type="submit" class="btn btn-primary mt-2">Contratar</button>
        </form>
    </div>
</div>
{% endblock %}