{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-12">
        <h1>Lista Movimentos Mensalistas</h1>
    </div>
</div>
<div class="row">        
    <div class="col-6">
        <form action="{% url 'core_movmensalista_novo' %}" method="POST">
            {% csrf_token %}
    
            {{ form|bootstrap }}
    
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-6">
        <ul class="list-group">
            {% for mov in mov_mensalistas %}
                <li class="list-group-item">
                    <a href="{% url 'core_movmensalista_update' mov.id %}"> {{ mov.mensalista }} - {{ mov.dt_pgto }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}