{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Cadastro</h1>
            <form action="{% url 'core_pessoa_novo' %}" method="POST">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h1>Lista Pessoas</h1>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                  </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                    <tr>
                        <th scope="row"> {{pessoa.id}} </th>
                        <td> <a href="{% url 'core_pessoa_update' pessoa.id %}"> {{ pessoa.nome }} </a> </td>
                        <td> {{pessoa.endereco}} </td>
                        <td> {{pessoa.telefone}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

{% endblock %}
