{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col">
        <h2>Alterar Movimento Rotativo: {{ movrotativo }} </h2>

        <form action="{% url 'core_movrotativo_update' movrotativo.id %}" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'core_movrotativo_delete' movrotativo.id %}" class="btn btn-danger">Deletar</a>
        </form>
    </div>
</div>
{% endblock %}